<div class="w-full h-[82vh]">
  <div class="max-w-7xl h-full mx-auto overflow-hidden p-4 flex">
    <div class="w-1/2 pr-4">
      <img
        src="https://storage.googleapis.com/uxpilot-auth.appspot.com/61c457d9b7-b89f13f8ac96b7b8d107.png"
        alt=""
        class="w-full h-full object-cover"
      />
    </div>

    <div class="w-1/2 pl-4 grid grid-cols-2 grid-rows-2 gap-6 overflow-hidden">
      <div class="h-full">
        <img
          src="https://storage.googleapis.com/uxpilot-auth.appspot.com/a4f3085a81-b49bd0c73c8d28c50627.png"
          alt=""
        />
      </div>
      <div class="h-full">
        <img
          src="https://storage.googleapis.com/uxpilot-auth.appspot.com/d0cba0a845-e14f38ea10bbccd7c64a.png"
          alt=""
        />
      </div>

      <div class="h-full mt-2">
        <img
          src="https://storage.googleapis.com/uxpilot-auth.appspot.com/4e48217c1e-409ec8b5fdc11bd268c6.png"
          alt=""
        />
      </div>
      <div class="h-full mt-2">
        <img
          src="https://storage.googleapis.com/uxpilot-auth.appspot.com/00e227996a-6342711a0035f2986249.png"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
