<div class="bg-white mb-6 p-4 rounded-md border border-gray-200">
  <p class="font-semibold mb-3">Your Search</p>
  <div class="flex flex-col gap-2">
    <label for="" class="text-sm text-gray-500">Destination</label>
    <input type="text" class="font-medium py-2 px-2" />
  </div>
  <div class="flex justify-between mt-2">
    <div class="flex flex-col">
      <label for="" class="text-sm text-gray-500">Check-in</label>
      <input type="date" class="py-2 px-2" />
    </div>
    <div class="flex flex-col">
      <label for="" class="text-sm text-gray-500">Check-out</label>
      <input type="date" class="py-2 px-2" />
    </div>
  </div>
  <p
    class="text-center mt-3 text-sm primary hover:underline hover:cursor-pointer"
  >
    Change Search
  </p>
</div>
<div class="px-2">
  <p class="font-semibold mb-3">Filter by</p>
  <div>
    <p class="font-medium mb-2">Price Range</p>
    <input type="range" min="50" max="1000" class="w-full" />
    <div class="flex justify-between mt-1">
      <p class="text-sm text-gray-600">$50</p>
      <p class="text-sm text-gray-600">$1000+</p>
    </div>
  </div>
</div>
<!-- <div class="mt-4">
  <p class="font-medium mb-2">Star Rating</p>
  <div class="flex gap-2 items-center">
    <input type="checkbox" />
    <label for="">5 Stars</label>
  </div>
  <div class="flex gap-2 items-center">
    <input type="checkbox" />
    <label for="">4 Stars</label>
  </div>
  <div class="flex gap-2 items-center">
    <input type="checkbox" />
    <label for="">3 Stars</label>
  </div>
  <div class="flex gap-2 items-center">
    <input type="checkbox" />
    <label for="">2 Stars</label>
  </div>
  <div class="flex gap-2 items-center">
    <input type="checkbox" />
    <label for="">1 Stars</label>
  </div>
</div> -->
<button
  class="mt-4 w-full bg-blue-600 text-white font-semibold py-2.5 rounded-md hover:bg-blue-700 transition-colors"
>
  Apply Filters
</button>
