/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

.primary {
  color: rgb(37, 99, 235);
}

.primary-bg {
  background-color: rgb(37, 99, 235);

  &:hover {
    background-color: rgb(13, 84, 237);
  }
}

body {
  font-family: "Inter", sans-serif;
}

